*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    min-height: 100vh;
    background-image:url("shubham-dhage-NsPqV-WsZYY-unsplash.jpg") ;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}
.calculator{
    width: 400px;
    height: 580px;
    box-shadow: inset 5px 5px 30px rgba(97, 92, 92, 0.3),
                      2px 2px 12px rgba(255, 255, 255, 0.16);
    background-color: transparent;
    border-radius: 20px;
    overflow: hidden;
}
input{
     width: 100%;
     height: 150px;
     border :none;
     border-radius: 12px 0 0 0;
     background-color:rgb(22, 22, 22);
     border-color: wheat;
     font-size: 2rem;
     padding: 1rem;
     box-shadow: inset -1px -1px 12px #272626;
     backdrop-filter: blur(5px);
    color: wheat;
    text-align: right;
    pointer-events: none;
}
 .buttons{
    display: grid;
    grid-template-columns:repeat(4,50px);
    padding: 20px;
} 
button{
    font-family: poppins;
    padding: 5;
    flex: 10 10 2px;
    border: 0px solid #0000;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: px;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 25px;
    box-shadow: -5px -5px 12px #272626,
                5px 5px 12px ;

}
button:hover{
    background-color:rgba(22, 22, 22, 0.89);
    transition: 0.3s;
}
.btn-yellow{
background-color: rgb(68, 77, 212);
color: wheat;
}
.btn-yellow:hover{
        background-color: rgb(51, 51, 50);

}
.btn-grey{
    background-color: rgb(2, 88, 248);
color: wheat;
}
.btn-equal{
    color: black;
}
.btn-c{
    color: wheat;
}
.btn-c:hover{
    opacity: 50%;
    background-color:brown ;
    transition: 0.6s;
}   